strict-peer-dependencies=false
public-hoist-pattern=typescript
public-hoist-pattern=vitest
public-hoist-pattern=@vitejs/plugin-react
public-hoist-pattern=@types/react
public-hoist-pattern=@types/react-dom
sync-injected-deps-after-scripts[]=install
